.hobby_name {
    background: #f5deb3;
    box-shadow: 0px 0px 0px 5px #f5deb3;
    border: dashed 1px #cd853f;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 400px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hobby_link {
    text-decoration: none;
  }
  