.error {
  color: #ff0000;
  font-style: italic;
}

.description_box {
  width: 900px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  border:1px solid #000;
  overflow: auto;
}

.where {
  font-size: 80%;
  font-style: italic;
}