.enter_button {
  border: 0px;
    width: 250px;
    height: 75px;
    background: url("../assets/images/button.png") left top no-repeat;
    color: #0f0f0f;
    font-size: 30px;
}

.enter_button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.select {
  margin-left: auto;
  margin-right: auto;
}

.move_button {
  font-size: 18px;
  width: 200px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #65c3fd;
  border: dashed 1px #65c3fd;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.move_button:hover {
  background: #cbedff;
  color: #FFF;
}

.disabled_button {
  font-size: 18px;
  width: 200px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #bfbfbf;
  border: dashed 1px #bfbfbf;
  background: #f0f0f0;
  border-radius: 3px;
  transition: .4s;
}